* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  margin-top: 0;
}

header {
  background-color: #35424A;
  overflow: hidden;
  text-align: center;
}

header h1 {
  padding-left: 10%;
  color: #FFFFFF;
  font-family: Sans-serif;
  text-align: center;
}

header h1 span {
  color: #967D4E;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #967D4E;
  clear: left;
  top: 0;
}

.banner {
  clear: left;
  position: relative;
  width: 100%;
  height: 100px;
  background: url("../images/showcase.jpg") 0 -400px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.banner p, .banner h1 {
  color: #FFFFFF;
  font-family: Sans-serif;
  text-align: center;
}

.banner h1 {
  padding-top: 0%;
  font-size: 300%;
  clear: left;
}

.banner p {
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  overflow: auto;
}

.newsletter {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: #35424A;
  text-align: center;
  border: 0;
  margin: 0;
}

.newsletter h1 {
  display: inline;
  color: #FFFFFF;
  margin-left: 8%;
  font-family: Sans-serif;
  width: 40%;
}

@media only screen and (min-width: 768px) {
  header h1 {
    float: left;
    color: #FFFFFF;
    font-family: Sans-serif;
  }

  .banner {
    height: 400px;
    background-size: 100% 200%;
  }

  .banner h1 {
    padding-top: 8%;
  }

  .newsletter {
    text-align: justify;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .newsletter {
    text-align: center;
  }
  .newsletter h1 {
    margin-left: 0;
  }
}
header nav {
  text-align: center;
  margin: 0 20%;
}

ul {
  list-style-type: none;
  text-align: center;
}

.active {
  color: #967D4E;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px 16px;
  height: auto;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Sans-serif;
}

@media all and (min-width: 768px) {
  header nav {
    float: right;
    margin-right: 10%;
    margin-left: 0;
  }

  ul {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  header nav {
    float: none;
    margin: 0 0%;
  }

  li a {
    display: block;
    padding: 14px 16px;
    height: auto;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Sans-serif;
  }
}
.newsletter form input[type=text] {
  float: left;
  width: 70%;
  padding: 2%;
  margin-right: 1%;
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 2%;
}

.newsletter form input[type=submit] {
  float: left;
  width: 70%;
  padding: 2.4%;
  background-color: #967D4E;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10%;
}

.quoteform input[type=text], input[type=email], textarea {
  float: left;
  width: 80%;
  padding: 2.5%;
  margin-right: 1%;
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 2%;
}

.quoteform input[type=submit] {
  float: left;
  width: 90%;
  height: 40px;
  padding: 3%;
  background-color: #967D4E;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 4%;
}

.quoteform label {
  display: block;
  clear: left;
}

@media all and (min-width: 768px) {
  .newsletter form {
    width: 30%;
    float: right;
    margin-right: 5%;
  }

  .newsletter form input[type=text] {
    width: 60%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .newsletter form input[type=submit] {
    width: 30%;
    margin-left: 0%;
  }

  .quoteform input[type=submit] {
    width: 40%;
    margin-left: 0;
  }

  .quoteform input[type=text], input[type=email], textarea {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .newsletter form {
    width: 100%;
    float: none;
  }

  .newsletter form input[type=text] {
    width: 65%;
    margin-top: 1%;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    float: none;
    padding: 1.5%;
  }

  .newsletter form input[type=submit] {
    width: 65%;
    margin-left: 0%;
    margin-top: 1%;
    float: none;
    padding: 1.5%;
  }
}
.main {
  clear: right;
  background-color: #F4F4F4;
}

.row {
  width: 100%;
  padding-top: 3%;
  padding-left: 12%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.speciality {
  width: 100%;
  align: center;
  float: left;
}

.speciality {
  padding: 1% 2%;
}
.speciality img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.speciality h4 {
  font-family: Sans-serif;
  text-align: center;
}
.speciality p {
  font-family: Sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
}

@media all and (min-width: 768px) {
  .speciality {
    width: 30%;
    align: center;
    float: left;
  }
}
.main_section {
  background-color: #F4F4F4;
  overflow: hidden;
  position: relative;
}

.aboutus {
  width: 80%;
  padding-left: 10%;
  font-family: Sans-serif;
  float: left;
  text-align: center;
  margin-left: 3%;
}

.moreinfo {
  width: 80%;
  background-color: #35424A;
  color: #FFFFFF;
  margin-left: 10%;
  font-family: Sans-serif;
  clear: left;
  padding: 0.5% 1%;
  margin-bottom: 2%;
  text-align: center;
  float: left;
}

.aside1 {
  clear: left;
  background-color: #35424A;
  width: 80%;
  margin-right: 15%;
  margin-top: 2%;
  color: #FFFFFF;
  padding: 0.5% 1%;
  font-family: Sans-serif;
  margin-left: 10%;
  position: static;
  text-align: center;
  margin-bottom: 5%;
}

@media all and (min-width: 768px) {
  .aboutus {
    width: 55%;
    text-align: left;
    margin-left: 0;
  }

  .moreinfo {
    width: 45%;
    text-align: left;
  }

  .aside1 {
    width: 25%;
    float: right;
    position: absolute;
    top: 0%;
    right: -7%;
    text-align: left;
  }
}
.main_section > h3 {
  width: 50%;
  padding-left: 10%;
  font-family: Sans-serif;
}

.services {
  width: 80%;
  margin-left: 10%;
  font-family: Sans-serif;
  border: 1% solid #CCCCCC;
  background-color: #E6E6E6;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  text-align: center;
}
.services h4, .services p {
  padding-left: 5%;
  padding-right: 3%;
}
.services p {
  font-size: 16px;
}

.quote {
  background-color: #35424A;
  float: right;
  width: 80%;
  margin-right: 10%;
  color: #FFFFFF;
  padding: 0 1%;
  font-family: Sans-serif;
  border: 0;
  margin-top: 1%;
  text-align: center;
  margin-bottom: 5%;
}

@media all and (min-width: 768px) {
  .services {
    width: 50%;
    margin-right: 4%;
    margin-bottom: 0.5%;
    text-align: left;
    float: left;
  }

  .quote {
    width: 20%;
    text-align: left;
    margin-bottom: 0;
    position: absolute;
    top: 0%;
    right: 3%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .quote {
    width: 30%;
    right: -5%;
  }
}
footer {
  width: 100%;
  height: 100px;
  background-color: #967D4E;
  bottom: 0;
  overflow: hidden;
  text-align: center;
}

footer p {
  color: #FFFFFF;
  font-family: Sans-serif;
  padding-top: 4%;
}

@media only screen and (min-width: 768px) {
  footer p {
    padding-top: 1.5%;
  }
}

/*# sourceMappingURL=style.css.map */
