
.main_section {
	
	background-color : #F4F4F4;
	overflow:hidden;
	position: relative;
	}

.aboutus {
	
	width:80%;
	padding-left : 10%;
	font-family : $font;
	float : left;
	text-align: center;
	margin-left: 3%;
}

.moreinfo {
	width:80%;
	background-color : #35424A;
	color:#FFFFFF;
	margin-left : 10%;
	font-family : $font;
	clear:left;
	padding:0.5% 1%;
	margin-bottom:2%;
	text-align : center;
	float: left;
}

.aside1 {
	clear:left;
	background-color : #35424A;
	width :80%;
	margin-right:15%;
	margin-top:2%;
	color:#FFFFFF;
	padding:0.5% 1%;
	font-family : $font;
	margin-left: 10%;
	position: static;
	text-align: center;
	margin-bottom: 5%;
}

@media all and (min-width : 768px)
{
	.aboutus {
		width:55%;
		text-align: left;
		margin-left:0; 
	}
	.moreinfo {
		width:45%;
		text-align: left;

	}
	.aside1{
		width:25%;
		float: right;
		position: absolute;
		top : 0%;
		right : -7%;
		text-align: left;
	}
	
}