footer {
	
	width:100%;
	height :100px;
	background-color : $sqli_color;
	bottom:0;
	overflow:hidden;
	text-align :center;

}

footer p {
	color : $text_color;
	
	font-family : $font;
	padding-top: 4%;


}

@media only screen and (min-width: 768px)
{	
	footer p {
	padding-top: 1.5%;
}
}