

.newsletter form input[type="text"] 
 {
	float:left;
	width:70%;
	padding : 2%;
	margin-right:1%;
		margin-top:3%;
	margin-left:10%;
	margin-bottom: 2%;


}
.newsletter form input[type="submit"]{
	float:left;
	width:70%;
	padding : 2.4%;
	background-color : $sqli_color;
	border:none;
	color:white;
	cursor:pointer;
	margin-left:10%;

}

.quoteform input[type="text"],  input[type="email"] , textarea 

	 {
	float:left;
	width:80%;
	padding : 2.5%;
	margin-right:1%;
	margin-top:3%;
	margin-left:10%;
	margin-bottom: 2%;


}


.quoteform input[type="submit"]{
	float:left;
	width:90%;
	height: 40px;
	padding : 3%;
	background-color : $sqli_color;
	border:none;
	color:white;
	cursor:pointer;
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom:4%;

}
.quoteform label {
	display :block;
	
	clear: left;
}

@media all and (min-width:768px)

{
	
.newsletter form {
	width:30%;
	float : right;
	margin-right:5%;

}

.newsletter form input[type="text"] {
	
	width:60%;
	margin-top: 0;
	margin-left: 0;
	margin-bottom:0;

}
.newsletter form input[type="submit"]{
	
	width:30%;

	margin-left:0%;
}

.quoteform input[type="submit"]{
width: 40%;
margin-left: 0;

}
.quoteform input[type="text"],  input[type="email"] , textarea {

	width:100%;
	margin-left: 0;
	
}


}
@media only screen and (min-width: 768px) and (max-width: 1000px)
{
	.newsletter form {
	width:100%;
	float:none;
	

}

.newsletter form input[type="text"] {
	
	width:65%;
	margin-top: 1%;
	margin-left: 0;
	margin-bottom:0;
	margin-right: 0;
	float:none;
	padding : 1.5%;

}
.newsletter form input[type="submit"]{
	
	width:65%;

	margin-left:0%;
	margin-top: 1%;
	float:none;
	padding : 1.5%;
}
}


