*{
	
	box-sizing : border-box;
}


body {
	background-color : #FFFFFF;
	margin-top:0; 

}

header 
{
	background-color : $background;
	overflow:hidden;
	text-align: center;
	
}


header h1 {	
	
	padding-left : 10%;
	color : $text_color;
	font-family : $font;
	text-align:center;

	}


header h1 span {
	
	color : $sqli_color ;
}



.line
{
	width:100%;
	height:3px;
	background-color: $sqli_color;
	clear : left;
	top : 0;
	
}
.banner {
	clear:left;
	position:relative;
	width:100%; 
	height:100px;
	background: url('../images/showcase.jpg') 0 -400px;
	background-repeat: no-repeat;
	overflow:hidden;
	
	
	
}

%text {
	
	color :$text_color;
	font-family : $font;
	text-align : center;
	
}

.banner h1 {
	
	@extend %text;
	padding-top:0%;
	font-size :300%;
	clear: left;

}

.banner p {
	@extend %text;
	font-size  : 20px;
	padding-left : 10%;
	padding-right : 10%;
	overflow : auto;
}
.newsletter {
	padding-top : 1.5%;
	padding-bottom : 1.5%;
	background-color: $background;
	text-align: center;
	border : 0;
	margin : 0;




}
.newsletter h1 {
	display : inline;
	color : $text_color;
	margin-left : 8%;
	font-family : $font;
		width:40%;


}

@media only screen and (min-width: 768px)
{
	body {
	
	}

header h1 {	
	
	float :left;
	color : $text_color;
	font-family : $font;
	
	}

	.banner {

	height:400px;
	background-size: 100% 200%;


}

.banner h1 {
	
	padding-top:8%;

	
}

.newsletter {
	text-align: justify;
}




}
@media only screen and (min-width: 768px) and (max-width: 1000px)
{
	.newsletter{

		text-align: center;	
			
			h1 {
				margin-left: 0;
			}

}
}

