
.main {
	clear : right;
	background-color :#F4F4F4;
	
	
}
.row {
	width:100%;
	padding-top : 3%;
	padding-left : 12%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.speciality {
	
	width :100%;
	align:center;
	float:left;
	
}

.speciality{
	

	 img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
		}
	 
	 h4{
	
	font-family: $font;
	text-align : center;
	

	}

	 p{
		font-family: $font;
		padding : 0;
		margin :0;
		text-align :center;
		font-size:16px;
	}

	padding : 1% 2%;
	
}

@media all and (min-width:768px)

{
.speciality {
	
	width : 30%;
	align:center;
	float:left;
	
}

}
