header nav {
	text-align :center;
	
	margin: 0 20%;
}

ul {
	
	list-style-type : none;
	text-align: center;
	
	

	}



.active {
	color : $sqli_color;
}
li {
	
	float : left;

}

li a {
	
	display : block;
	padding :14px 16px;
	height:auto;
	text-decoration: none;
	color : $text_color;
	font-family : $font;


}


@media all and (min-width:768px)
{

header nav {
	
	float:right;
	margin-right : 10%;
	margin-left: 0;
}

ul {
	
	margin-left: 0%;
	margin-right:0%; 
	
	}





}

@media only screen and (min-width: 768px) and (max-width: 1000px)
{
	header nav {
	
	float:none;
	margin: 0 0%;

}

	li a {
	
	display : block;
	padding :14px 16px;
	height:auto;
	text-decoration: none;
	color : $text_color;
	font-family : $font;


}

}