.main_section > h3 {
	width:50%;
	padding-left : 10%;
	font-family : $font;
	

}

.services {

	
	width:80%;
	margin-left : 10%;
	font-family : $font;
	border: 1% solid #CCCCCC;
	background-color: #E6E6E6;	
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 2%;
	text-align: center;

		h4 ,p{
		padding-left: 5%;
		padding-right : 3%;
	}

	p{
		font-size:16px;
}

}


.quote {
	
	background-color : #35424A;
	float: right;
	width :80%;
	margin-right:10%;
	color:#FFFFFF;
	padding:0 1%;
	font-family : $font;
	border: 0;
	margin-top: 1%;
	text-align: center;
	margin-bottom: 5%;
}

@media all and (min-width: 768px)
{
	.services {

	width:50%;
	margin-right: 4%; 
	margin-bottom: 0.5%;
	text-align: left;
	float:left;


}


.quote {

	width :20%;
	text-align: left;
	margin-bottom: 0;
	position: absolute;
	top : 0%;
	right : 3%;
	 
	

}


}

@media only screen and (min-width: 768px) and (max-width: 1000px)
{	
	.quote {
		width:30%;
		right : -5%;
	}
	
}